# React Native
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
.expo/
dist/
coverage/

# Android
android/.gradle/
android/app/build/
android/.gradle/
android/app/build/
android/app/build/
android/build/
android/.idea
android/local.properties
android/.gradle
android/.idea/
android/.settings/
*.iml

# iOS
ios/build/
ios/Pods/
ios/build/
ios/DerivedData/

# Bundler
.bundle/

# IDEs and editors
.vscode/
.idea/
*.iml

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env
.env.*

# Expo build artifacts
*.jks
*.keystore

# Cache files
.tmp/
.cache/
